body{
    background-color: black;
    color: white;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

/***CABECERA***/
.cabecera{
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(61, 61, 61);
    border-style: solid;
    border-color: transparent;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

#logotipo{
    height: 200px;
    width: 200px;
    border-radius: 102px;
    box-shadow: 0px 0px 10px 3px rgb(255, 255, 255);
}

/***CUERPO***/
.cuerpo{
    background-color: transparent;
    height: 410px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/***MENU***/
.menu{
    height: 375px;
    width: 30%;
    position: relative;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(61, 61, 61);
    overflow-y: scroll;
    overflow-x: auto;
    border-style: solid;
    border-color: transparent;
}

/* Para Firefox - ocultar barras en los paneles */
.menu,
.contenido {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

/* Para Firefox - barra discreta en contenido */
.menu,
.contenido {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

/* Para Firefox */
.menu,
.contenido {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

nav{
    width: 100%;
}

#tabla-menu{
    width: 100%;
    border-collapse: collapse;
    /*border-color: white;
    border-style: solid;*/
}

#tabla-menu td, #tabla-menu th{
    padding: 10px;
    width: 50%;
    /*border-style: solid;*/
}

#tabla-menu td{
    text-align: center;
}

#imagen-perfil{
    height: 100px;
    width: 85px;
    border-radius: 10px;
    border-style: solid;
    /*border-color: rgb(96, 117, 255);*/
    border-color: white;
}

#nombre{
    font-size: large;
}

#campo{
    color: rgb(205, 205, 205);
}

#boton-descarga{
    height: 40px;
    width: 200px;
    font-size: medium;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    border-color: white;
}

#boton-descarga:hover{
    box-shadow: 0px 0px 8px 2px rgb(96, 117, 255);
}

/***CONTENEDOR***/
.contenedor{
    height: 375px;
    width: 70%;
    position: relative;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(61, 61, 61);
    border-style: solid;
    border-color: transparent;
}

#tabla-menu-contenedor{
    width: 100%;
    background-color: transparent;
}

#tabla-menu-contenedor td{
    border-radius: 5px;
}

#tabla-menu-contenedor td:hover{
    background-color: gray;
}

#tabla-menu-contenedor input{
    height: 100%;
    width: 100%;
    padding: 5px;
    background-color: transparent;
    color: white;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
}

.contenido{
    height: 320px;
    position: relative;
    margin-top: 15px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(50, 50, 50);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
}

.contenido::-webkit-scrollbar{
    width: 5px;
    border-radius: 15px;
    background-color: transparent;
}

.contenido::-webkit-scrollbar{
    background-color: rgb(200, 200, 200);
}

#contenido-proyectos div a{
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 20px;
}

#contenido-proyectos div a:hover{
    background-color: gray;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#img-p-tfg{
    height: 80px;
    width: 95px;
    border-radius: 5px;
}

#img-p-tiempo{
    height: 80px;
    width: 80px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

#img-p-adt{
    height: 80px;
    width: 80px;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
}

#contenido-proyectos div a div{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1;
}

h4{
    color: white;
    text-align: left;
    flex-grow: 1;
}

/*****RESPONSIVE*****/
@media (max-width: 768px) {
    #tabla-menu{
        width: 100%;
    }
}

@media (max-width: 480px) {
    #tabla-menu{
        width: 100%;
    }
}